$navBarColor: #a39180;

.nav-bar {
    background-color: $navBarColor;
}

.nav-bar i {
    cursor: pointer;
}

.visible {
    display: inline-block !important;
} 

.adjust-borders {
    padding-right: 50px;
}

.text-style {
    font-family: roboto;
}

#nav-mobile li {
    margin-right: 10px;
}

body div {
    #main-nav nav {
        background: $gradient;

        div.arrow-nav {
            position: relative;
            left: 0.5rem;
        }
    }

    .sidenav {
        .user-view {
            div > a > i { text-shadow: 1px 1px 2px $high-middel-color }
            a > span {
                font-size: 1.2em;
                text-shadow: $shadow;
            }
        }
    }
}
