@charset "UTF-8";
.nav-bar {
  background-color: #a39180; }

.nav-bar i {
  cursor: pointer; }

.visible {
  display: inline-block !important; }

.adjust-borders {
  padding-right: 50px; }

.text-style {
  font-family: roboto; }

#nav-mobile li {
  margin-right: 10px; }

body div #main-nav nav {
  background: linear-gradient(141deg, #145d65 0%, #069172 20%, #02ba6a 80%); }
  body div #main-nav nav div.arrow-nav {
    position: relative;
    left: 0.5rem; }

body div .sidenav .user-view div > a > i {
  text-shadow: 1px 1px 2px #145d65; }

body div .sidenav .user-view a > span {
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #0f3055; }

body div .login-page div.input-field label {
  left: 1.5rem;
  top: -3px;
  color: white;
  font-weight: 100; }
  body div .login-page div.input-field label.active {
    -webkit-transform: translateY(-19px) scale(0.8);
    transform: translateY(-19px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #817b7b;
    font-weight: normal; }

body div .login-page div.input-field input {
  border-bottom: 0;
  background: linear-gradient(141deg, rgba(20, 93, 101, 0.5) 0%, rgba(6, 145, 114, 0.5) 20%, rgba(2, 186, 106, 0.5) 80%);
  border-radius: 50px;
  margin: 0;
  color: white;
  padding: 0 15px;
  box-sizing: border-box;
  font-weight: 100; }
  body div .login-page div.input-field input:focus {
    border-bottom: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important; }

body div .login-page button {
  box-shadow: 1px 1px 2px #0f3055;
  background-color: #817b7b; }

body div #map.map {
  height: calc(100vh - 64px); }

body div .margin-button {
  margin-top: 30px; }

* {
  box-sizing: border-box !important; }

body div .main-color {
  color: #0f3055 !important; }

body div .main-color-bg {
  background-color: #0f3055 !important; }

body div .accent-color {
  color: #817b7b !important; }

body div .accent-color-bg {
  background-color: #817b7b !important; }

body div .second-color {
  color: #02ba6a !important; }

body div .second-color-bg {
  background-color: #02ba6a !important; }

body div .text-shadow {
  text-shadow: 1px 1px 2px #0f3055; }

body div .shadow {
  box-shadow: 1px 1px 2px #0f3055; }

body div .hidden {
  display: none !important; }

body div .no-margin {
  margin: 0 !important; }

body div .no-margin-v {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

body div .no-margin-h {
  margin-left: 0 !important;
  margin-right: 0 !important; }

body div .no-padding {
  padding: 0 !important; }

body div .no-padding-v {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

body div .no-padding-h {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body div .pointer {
  cursor: pointer; }

body div .delete-button {
  background: linear-gradient(141deg, #145d65 0%, #069172 20%, #02ba6a 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

body div .delete-button:hover {
  transform: scale(1.3); }

div#toast-container > div.toast {
  width: fit-content;
  max-width: 90vw;
  padding: 8px 30px;
  text-align: center;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(141deg, rgba(20, 93, 101, 0.5) 0%, rgba(6, 145, 114, 0.5) 20%, rgba(2, 186, 106, 0.5) 80%);
  background-color: white;
  -webkit-box-shadow: 0 0 3px #0f3055;
  box-shadow: 0 0 3px #0f3055; }
  div#toast-container > div.toast.error {
    background: linear-gradient(141deg, rgba(15, 51, 88, 0.4) 0%, #9f1e1c 60%);
    background-color: #9f1e1c; }
  div#toast-container > div.toast.success {
    background: linear-gradient(141deg, rgba(15, 51, 88, 0.4) 0%, #36d463);
    background-color: #36d463; }

.ol-overlaycontainer-stopevent {
  display: none !important; }

.arrow_box {
  position: relative;
  background: linear-gradient(141deg, #145d65 0%, #069172 20%, #02ba6a 80%);
  color: white;
  border-radius: 10px;
  padding: 5px 10px; }

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: ” “;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px; }

.arrow_box:before {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: #003c88;
  border-width: 11px;
  margin-left: -11px; }

body div .ol-overlaycontainer-stopevent {
  display: inline-block !important; }
  body div .ol-overlaycontainer-stopevent .arrow_box span {
    transition: all 0.2s ease-in-out; }
    body div .ol-overlaycontainer-stopevent .arrow_box span:hover {
      color: rgba(255, 255, 255, 0.6); }

body div .looker-infos {
  position: fixed;
  top: 64px;
  width: 30%;
  left: 0px;
  z-index: 5;
  background-color: white;
  height: calc(100vh - 64px);
  transition: left 0.3s ease-in-out;
  box-shadow: 1px 1px 2px #0f3055; }
  body div .looker-infos.looker-hidden {
    left: -30%; }
  body div .looker-infos .looker-info-icon {
    margin-right: 10px;
    color: teal; }
